.App {
  text-align: center;
}

/*
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(207, 71, 71);
}
*/



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6867AC;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Logo{
  width: 130px;
}

.publish{
background-color: #CE7BB0;



}

li a:hover {
  background-color: #111;
}

.rightRegister{
float: right;
/*border-right: 1px solid #bbb;*/
}

.rightLogin{
  float: right;
  background-color: #CE7BB0;
  color: #111;
}

.Banner{
  background-color: #ffade1;
}