.table-row
{
    width: 40%;
    margin: 0 auto;
    margin-top: 5em;
    border: none;
}

.row-pagination
{
    width: 15.4em;
    padding: 0px;
    margin: 0 auto;
}

.view-all
{
    margin: 0 auto;
    width: 16em;
}
